<form method=post action='/search'>
  <label for='date1'>Date 1</label>
  <input id='date1' name='date1' type='text'><br>

  <label for='date2'>Date 2</label>
  <input id='date2' name='date2' type='text'><br>

  <label for='max_hours'>Max. hours in hub</label>
  <input id='max_hours' name='max_hours' type='text'><br>

  <label for='origin'>Origin</label>
  <input id='origin' name='origin' type='text'><br>

  <label for='hubs'>Hubs</label>
  <input id='hubs' name='hubs' type='text'><br>

  <label for='dest'>Destination</label>
  <input id='dest' name='dest' type='text'><br>

  <input type='submit' value='Submit'>
</form>
